<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.pluralsight.speldemo.data.User">
        <property name="name" value="#{'John Doe'}" />
        <property name="age" value="#{19}" />
        <property name="country" value="#{systemProperties['user.country']}" />
        <property name="language" value="#{systemProperties['user.language']}" />
    </bean>

    <bean id="order" class="com.pluralsight.speldemo.data.Order">
        <property name="amount" value="#{100.55 + 500.75 + 400.66}" />
    </bean>

    <bean id="shipping" class="com.pluralsight.speldemo.data.Shipping">
    </bean>

    <bean id="order2" class="com.pluralsight.speldemo.data.Order">
        <property name="discount" value="#{order.amount >= 1000 ? order.amount * 5 / 100 : 0}" />
        <property name="daysToDeliver" value="#{user.country == 'US' and user.timeZone == 'America/New_York' ? 3 : 14}" />
        <property name="formattedAmount" value="#{T(java.text.NumberFormat).getCurrencyInstance().format(order.amount)}" />
        <property name="shippingLocations" value="#{shipping.locationsByCountry[user.country]}" />
    </bean>
</beans>