# Default ignored files
shelf/
target/
**/.DS_Store
workspace.xml
# Datasource local storage ignored files
**/.idea/dataSources
**/.idea/libraries
dataSources.local.xml
# Editor-based HTTP Client requests
httpRequests/