//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

// Import only once!!!
@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn
);

@include angular-material-theme($app-theme);

.dark-theme {
    $app-primary-dark: mat-palette($mat-pink, 700);
    $app-accent-dark: mat-palette($mat-green);
    $app-warn-dark: mat-palette($mat-red);

    $app-theme-dark: mat-dark-theme(
        $app-primary-dark,
        $app-accent-dark,
        $app-warn-dark
    );

    @include angular-material-theme($app-theme-dark);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon {
    vertical-align: middle;
}
