<h2 mat-dialog-title>Add new contact</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" required>

    <mat-error *ngIf="name.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Avatar</mat-label>
    <mat-select [(ngModel)]="user.avatar">
      <mat-select-trigger>
        <mat-icon matLine svgIcon="{{ user.avatar }}"></mat-icon> <span matLine>{{ user.avatar }}</span>
      </mat-select-trigger>

      <mat-option *ngFor="let avatar of avatars" [value]="avatar">
        <mat-icon matLine svgIcon="{{ avatar }}"></mat-icon> {{ avatar }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bio</mat-label>
    <textarea matInput [(ngModel)]="user.bio"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birthday</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()">
    <mat-icon matLine>save</mat-icon> Save
  </button>
  <button mat-button (click)="dismiss()">
    <mat-icon matLine>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>